<ion-view view-title="{{view_title}}">
  <ion-content class="padding">
    
    <div class="class_list_div">
      <label class="class_list_label">Please enter your details:</label>
    </div>
       <div class="list list-inset signup_details_div">
          <label class="item item-input signup_details_label">
              <input type="text" placeholder="University ID" ng-model="data.user_id">
          </label>
          <label class="item error_field" ng-show="err_user_id">
              Please enter your University ID.
          </label>

          <!-- <label class="item item-input item-select signup_details_label">
            <div class="input-label signup_details_select_label">
              Choose Role:
            </div>
            <select ng-options="role.label for role in user_roles track by role.value" ng-model="data.app_type"></select>
          </label>
          <label class="item error_field" ng-show="err_app_type">
              Please select your role.
          </label> -->

          </label>
          <label class="item item-input signup_details_label">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item error_field" ng-show="err_username">
              Please enter your username.
          </label>

          <label class="item item-input signup_details_label">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item error_field" ng-show="err_email">
              Please enter your email.
          </label>


          <label class="item item-input signup_details_label">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label class="item error_field" ng-show="err_password">
              Please enter your password.
          </label>

          <label class="item item-input signup_details_label">
              <input type="password" placeholder="Confirm Password" ng-change="validatePassword()" ng-model="data.confirm_password">
          </label>
          <label class="item error_field" ng-show="err_confirm_password">
              Please confirm your password.
          </label>
          <label class="item error_field" ng-show="err_confirm_password_valid">
              Your passwords do not match.
          </label>
      </div>

      <button class="button button-block button-calm" ng-click="signup()">Sign Up</button>
    
  </ion-content>
</ion-view>
